body {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .container {
    width: 98%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
  grid-gap: 5px;
  grid-auto-flow: dense;
  padding-inline-start: 0px;
}

.users__item {
  min-width: 72px;
  background-color: #f8f8f8;
  padding: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.users__item-name {
  width: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 3px 3px 3px;
}

.users__item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.user_detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f8f8;
  z-index: 999;
  height: 128px;
  width: 360px;
}

.user_detail-box {
  position: relative;
  display: flex;
  height: 128px;
}

.user_detail-info {
  margin: 3px;
  display: flex;
  flex-direction: column;
}

.user_detail-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
}

.user_detail-close {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #cecece;
  background-color: #cecece;
}

.user_detail-close:hover {
  color: #cecece;
  border: 1px solid #000000;
  background-color: #000000;
}

@media (max-width: 420px) {
  .user_detail {
    width: 95%;
  }
  .user_detail-box {
    width: 100%;
  }
  .user_detail-text {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin: 0;
  }
}

.user_detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: Black;
  opacity: 0.5;
}

.select {
  align-self: flex-start;
  display: block;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 2em 0.5em 0.8em;
  width: max-content;
  max-width: 50%;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-left: 10px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: #888;
}
.select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select option {
  font-weight: normal;
}
*[dir="rtl"] .select,
:root:lang(ar) .select,
:root:lang(iw) .select {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

@media (max-width: 768px) {
  .select {
    padding: 0em 2em 0em 0.8em;
  }
}

@media (max-width: 420px) {
  .select {
    font-size: 12px;
  }
}
